.counterDisplay {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    border: aquamarine solid 3px;
    border-radius: 10px;
    box-sizing: border-box;
}
.spanDisplay {
    font-size: 72px;
    font-weight: bold;
}

.errorColor {
    color: red;
}

.textSpan {
    font-size: 28px;
}

