.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: aquamarine solid 3px;
    border-radius: 10px;
    width: 400px;
    height: 280px;
    color: aquamarine;

}

.innerCounter{
    width: 380px;
    height: 260px;
    box-sizing: border-box;
}

.buttonBar {

}
