.app-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: darkslategrey;
}

.counter-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -50%);
}


