.app-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.counter-wrapper {
    margin-left: 50px;
}
.settings-wrapper {
    margin-right: 50px;
}



