.app-wrapper {
    height: 660px;
    width: 1360px;
    background-color: darkslategrey;
}
.counter-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


