.btnBarDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    border: aquamarine solid 3px;
    border-radius: 10px;
    height: 90px;
    box-sizing: border-box;
}
